/* Section principale de l'expérience */
#experience_section {
    background-color: var(--dark_blue);
}

.experience_end {
    background-color: var(--dark_blue);
}

#experience_section .section_title {
    color: var(--white);
    margin-bottom: clamp(50px, 6vw, 80px);
}

/* Contenu de chaque expérience */
#experience_section .job {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px; /* Ajout d'un espacement uniforme */
    border-radius: 15px;
    transition: all 0.6s ease-in-out;
}

#experience_section .job.in_animation {
    opacity: 0;
    transform: translateY(70px);
}

#experience_section .sort_choices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 70px;
    gap: 20px;
}

/* Boutons de tri */
#experience_section .sort_choices .label {
    color: var(--white);
    font-family: raleway_semi_bold;
    font-size: 17px;
}

#experience_section .sort_choices .choice {
    color: var(--light_blue);
    font-family: raleway_semi_bold;
    font-size: 15px;
    cursor: pointer;
    border-radius: 100px;
    padding: 9px 18px;
    border: 2px solid var(--light_blue);
    transition: background-color 0.2s ease-in-out;
}

#experience_section .sort_choices .choice:hover {
    background-color: var(--fade_light_blue);
}

#experience_section .sort_choices .choice.selected {
    color: var(--dark_blue);
    background-color: var(--light_blue);
    cursor: default;
    pointer-events: none;
}

#experience_section .experience_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(20px, 7vw, 100px);
    width: 100%;
}

@media screen and (max-width: 1125px) {
    #experience_section .experience_content {
        gap: clamp(20px, 5vw, 100px);
    }
}

@media screen and (max-width: 780px) {
    #experience_section .experience_content {
        gap: 35px;
    }
}

/* Contenu texte de chaque expérience */
#experience_section .job_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 20px;
    background-color: var(--dark_blue);
    border-radius: 15px;
}

#experience_section .job_text .type {
    font-family: raleway_medium;
    font-size: 16px;
    color: var(--light_blue);
    margin-bottom: 10px;
    text-align: left;
}

#experience_section .job_text .job_title {
    font-family: calibre_semi_bold;
    font-size: 28px;
	text-decoration: none;
    color: var(--white);
    margin-bottom: 15px;
    transition: color 0.2s ease;
}

#experience_section .job_text .job_title:hover {
    color: var(--light_blue);
}

/* Texte de description de l'expérience */
#experience_section .job_text .text {
    background-color: var(--dark_blue);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    padding: 25px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
}

#experience_section .job_text .text p {
    font-family: calibre_regular;
    font-size: 18px;
    color: var(--fade_white);
}

/* Tags et liens de chaque expérience */
#experience_section .tags-and-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Tags */
#experience_section .job_text .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-start;
}

#experience_section .job_text .tags a {
    font-family: raleway_semi_bold;
    font-size: 16px;
    color: var(--light_blue);
    text-decoration: none;
    white-space: nowrap;
    transition: opacity 0.2s ease;
}

#experience_section .job_text .tags a:hover {
    opacity: 0.5;
}

/* Alignement des liens (icônes GitHub, autres) */
#experience_section .job_text .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

#experience_section .job_text .links svg {
    width: 21px;
    stroke: var(--light_blue);
    transition: opacity 0.2s ease;
}

#experience_section .job_text .links svg:hover {
    opacity: 0.6;
}

/* Animation de chargement */
.lds-ring {
    display: inline-block;
    position: absolute;
    width: 120px;
    height: 120px;
}

.lds-ring div {
    display: block;
    position: absolute;
    width: 96px;
    height: 96px;
    margin: 12px;
    border: 12px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Adaptation pour mobile */
@media screen and (max-width: 780px) {
    #experience_section .job_text {
        padding: 50px 25px;
        text-align: left;
    }

    #experience_section .job_text .text {
        background: none;
        box-shadow: none;
        padding: 10px 0;
    }

    #experience_section .tags-and-links {
        flex-direction: column;
        align-items: flex-start;
    }
}
